<html>
    <head>
        <link rel="stylesheet" href="../global.css">
        <style>
            .btn {
                font-size: 16px;
                color: white;
                padding: 14px 16px;
                background: inherit;
                font-family: inherit;
                border: none;
                outline: none;
            }

            .btn:hover {
                background: red;
            }
        </style>
    </head>
    <body>
        <script src="./plugins/include.js"></script>

        <input class="btn" type="button" value="Click Me">

        <script>

        </script>
    
        <script src="../global.js"></script>
    </body>
</html>